@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--off-white);
}

:root {
  --primary-color: #111827;
  --dark-gray: #6b7280;
  --off-white: #f3f4f6;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  height: 10vh;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-brand {
  padding: 0px 10px;
  color: var(--off-white);
  font-weight: bold;
  font-size: x-large;
}

.links {
  display: flex;
}

li {
  list-style-type: none;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: var(--off-white);
  font-weight: bold;
  font-size: large;
}

a:hover {
  color: var(--dark-gray);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 88vh;
}
.intro {
  display: flex;
  flex-direction: column;
}

.left {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-bottom: 19px;
}

.img {
  height: 360px;
  align-self: center;
  padding-top: 50px;
}
.main-img {
  width: 270px;
}

.left-heading {
  display: flex;
  flex-direction: column;
}

.about {
  align-self: center;
  padding-bottom: 10px;
  text-align: center;
  color: var(--dark-gray);
  padding-top: 20px;
}

.bio {
  align-self: center;
  padding-bottom: 20px;
  text-align: center;
  color: var(--primary-color);
}

.technologies {
  padding-top: 20px;
}

.technologies h1 {
  padding-bottom: 5px;
  color: var(--primary-color);
}

.projects {
  padding-bottom: 40px;
  padding-top: 20px;
}

.projects h1 {
  padding-bottom: 5px;
  color: var(--primary-color);
}

.blogs h1 {
  padding-bottom: 5px;
  color: var(--primary-color);
}

.title {
  align-self: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.title-heading {
  text-align: center;
  color: var(--dark-gray);
}
.heading-inverted {
  color: var(--primary-color);
}

section {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

section h1 {
  text-align: center;
  padding-top: 5px;
}

section p {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: large;
}

section a {
  color: var(--primary-color);
  text-align: center;
  padding: 5px;
  border: 2px solid var(--dark-gray);
  border-radius: 3%;
}

section a:hover {
  color: var(--off-white);
  background: var(--primary-color);
}

.nextpage {
  text-align: center;
  margin: 10px;
}

.blog {
  display: flex;
  flex-direction: column;
}

small {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  height: 13vh;
  /* padding:20px; */
}

@media (min-width: 1600px) {
  .nav-brand {
    font-size: 3.5rem;
  }

  .links a {
    font-size: 3.5rem;
  }

  .hero-img {
    width: 800px;
  }

  .title {
    font-size: 45px;
  }

  section h1 {
    font-size: 70px;
  }

  section p {
    font-size: 50px;
  }

  .nextpage a {
    font-size: 50px;
  }

  small {
    font-size: 35px;
  }

  .blog a {
    font-size: 30px;
  }
  .blog p {
    font-size: 40px;
  }

  .footer a {
    font-size: 3.5rem;
  }

  .navigation {
    padding-left: 30px;
    padding-right: 30px;
  }

  .img {
    margin-top: 100px;
  }

  .main-img {
    width: 400px;
  }

  .left-heading {
    margin-top: 140px;
  }

  .about {
    font-size: 80px;
  }

  .bio {
    font-size: 70px;
    padding-bottom: 110px;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  /* .container {
    background: darkred;
  } */
  .links a {
    font-size: 1.8rem;
  }
  .nav-brand {
    padding-top: 8px;
    font-size: 1.8rem;
  }
  .img {
    height: 390px;
    padding-top: 100px;
  }

  .main-img {
    width: 260px;
  }

  .about {
    font-size: 30px;
  }

  .bio {
    font-size: 20px;
    padding-bottom: 0px;
  }
  /* .technologies{
    padding-top: 200px;
  } */

  .technologies h1 {
    font-size: 32px;
    padding-bottom: 0px;
  }

  .projects {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .projects h1 {
    font-size: 32px;
    padding-bottom: 0px;
  }

  .blogs h1 {
    font-size: 32px;
    padding-bottom: 0px;
  }
  section h1 {
    font-size: 28px;
  }

  section p {
    font-size: 24px;
  }

  small {
    font-size: 24px;
  }

  .nextpage a {
    font-size: 24px;
  }

  .footer a {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  /* .container {
    background: darkorange;
  } */

  .links a {
    font-size: 1.3rem;
  }
  .nav-brand {
    padding-top: 8px;
    font-size: 1.3rem;
  }
  .img {
    height: 390px;
    padding-top: 100px;
  }

  .main-img {
    width: 260px;
  }

  .about {
    font-size: 30px;
  }

  .bio {
    font-size: 20px;
    padding-bottom: 0px;
  }

  .technologies h1 {
    font-size: 28px;
    padding-bottom: 0px;
  }

  .projects {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .projects h1 {
    font-size: 28px;
    padding-bottom: 0px;
  }

  .blogs h1 {
    font-size: 28px;
    padding-bottom: 0px;
  }
  section h1 {
    font-size: 24px;
  }

  section p {
    font-size: 20px;
  }

  small {
    font-size: 20px;
  }

  .nextpage a {
    font-size: 20px;
  }

  .footer a {
    font-size: 1.3rem;
  }
}

@media (max-width: 576px) {
  .navigation {
    flex-direction: column;
  }

  .headings {
    padding-bottom: 5px;
  }

  .nav-brand {
    padding-top: 8px;
    font-size: 1rem;
  }

  li {
    padding: 2px 10px;
  }
  .links a {
    font-size: 1rem;
  }

  .title {
    font-size: small;
  }

  section h1 {
    font-size: 20px;
  }

  section p {
    font-size: 16px;
  }

  small {
    font-size: 16px;
  }

  .nextpage a {
    font-size: 16px;
  }

  .footer a {
    font-size: 1rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
  }

  .left {
    align-self: center;
  }

  .img {
    height: 310px;
    padding-top: 35px;
  }

  .main-img {
    width: 250px;
  }

  .about {
    font-size: 25px;
  }

  .bio {
    font-size: 18px;
    padding-bottom: 0px;
  }

  .right {
    align-self: center;
  }

  .technologies h1 {
    font-size: 25px;
    padding-bottom: 0px;
  }

  .projects {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .projects h1 {
    font-size: 25px;
    padding-bottom: 0px;
  }

  .blogs h1 {
    font-size: 25px;
    padding-bottom: 0px;
  }
}
